{% extends 'base.html.twig' %}

{% block title %}
    Connexion - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    {% if error %}
        <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    {% endif %}

    <form method="post">
        <div>
            <label for="inputEmail">E-mail</label>
            <input type="email" name="email" id="inputEmail" value="{{ lastUsername }}">
        </div>
        <div>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword">
        </div>
        <button>Connexion</button>
        <input type="hidden" name="token" value="{{ csrf_token('authentication') }}">
    </form>
{% endblock %}
