{% extends 'base.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Bienvenue sur CoasterWorld</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis illum maxime, molestiae placeat porro quidem saepe soluta suscipit. Amet atque deserunt dolores ducimus expedita nihil numquam pariatur perferendis quas ullam.
    </p>
{% endblock %}
