.card{
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    .card-image{
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .card-body{
        margin: 10px;

        .card-title{
            margin: 0 0 5px;
        }
    }
}
