<header>
    <a href="{{ path('main_home') }}" class="header-logo">
        <img src="{{ asset('images/logo.png') }}" alt="Logo de CoasterWorld">
    </a>
    <nav>
        <ul>
            <li>
                <a href="{{ path('park_list') }}">Les parcs</a>
            </li>
            <li>
                <a href="{{ path('coaster_list') }}">Les attractions</a>
            </li>
        </ul>
        <div class="nav-separator"></div>
        <ul>
            <li>
                <a href="#">Connexion</a>
            </li>
            <li>
                <a href="#">Inscription</a>
            </li>
        </ul>
    </nav>
</header>
