<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>CoasterWorld</title>
    </head>
    <body>
        <img src="{{ absolute_url(asset('build/images/logo.png')) }}" alt="Logo" style="width: 100px;">
        <h1>Coaster World</h1>
        <h2>Bonjour {{ username }}</h2>

        {% block content %}{% endblock %}
    </body>
</html>
